:root {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --body: #1d1f23;
  --primary: #151618;
  --accent-default: #f6cd46;
  --accent-hover: #e1b72e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body);
  color: white;
}

::-webkit-scrollbar {
  display: none;
}
